*.class

# Package Files #
*.jar
*.war
*.ear
*.iml
.idea/
target/
*.log
.settings/
WebContent/
.project
.classpath
*.jar
*.war
*.class
*.ear
/.idea
/target
*/target
*.iml
*.classpath
*.project
/.settings/*
*/.settings/*
org.eclipse.*
*.jsdtscope
*.gitignore
