

.jp-page
{
	position: relative;
	overflow: visible;
}

.jp-text, .jp-label, .jp-image
{
	position: absolute;
	overflow: visible;
	color: Black;
}

.jp-paper-background
{
	position: absolute;
}

.tpltable, td
{
	border: 1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: Black;
}
.jp-text-content
{
	font-size: 10.5pt;
	padding-bottom: 2px;
}
.jp-text-content p
{
	margin:0px;
}
.temptable, td
{
	border: 1px;
	border-style: solid;
	border-collapse: collapse;
	border-color: Black;
}
.temptable thead td
{
	text-align: center;
	width: auto;
}
.temptable
{
	width: 100%;
}
.screen-only
{
	display: none;
}
.temptable tbody
{
	text-align: center;
	font-size: 7pt;
}
.dktemptable
{
	width: 100%;
	font-family: 宋体;
	padding: 5px 5px 5px 5px;
	border-collapse: collapse;
	border: solid#000 1px;
	text-align: left;
	font-size: 12pt;
}
hktemptable tbody
{
	font-size: 12pt !important;
}
.jp-content
{
	background: white;
	overflow: hidden;
	border: 0;
	width: 200mm;
	height: 287mm;
	page-break-after: always;
}
